<div class="burger-menu__container" [class.active]="isActive()">
  <nav class="burger-menu__options">
    <ul class="burger-menu__options__list">
      <li class="burger-menu__options__list__elem"><a href="#">All Tasks</a></li>
      <li class="burger-menu__options__list__elem"><a href="#">Pending</a></li>
      <li class="burger-menu__options__list__elem"><a href="#">In Progress</a></li>
      <li class="burger-menu__options__list__elem"><a href="#">Finished</a></li>
      <li class="burger-menu__options__list__elem"><a href="#">Log in</a></li>
      <li class="burger-menu__options__list__elem"><a href="#">Sign in</a></li>
    </ul>
  </nav>
</div>
